.page-content {
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.anime-image{
    width: 220px;
    height: 310px;
}
.anime-details{
    display: flex;
    justify-content: flex-start;
}
.anime_title{
    margin-bottom: 50px;
}
.infoA{
    margin-left: 30px;
    max-width: 270px;
}
.infoA h4{
    cursor: auto;
}
.infoB{
    margin-left: 50px;
    max-width: 200px;
}
.infoB p{
    font-size: 24px;
    margin-top: 0px;
}
.infoB .a{
    font-size: 24px;
    margin-top: 10px;
    text-decoration: none;
    color: #170600;
}
.infoB .a:hover{
    text-decoration: underline;
}

.infoC{
    margin-left: 100px;
}
.plox{
    width: 300px;
    height: 200px;
}

.SettintContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}