.Content-container {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 10px;

}
.notice{
    width: 68%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
}
.title{
    margin: 0;
}

.item {
    margin: 10px 10px;
    max-width: min-content;
    max-height: max-content;
    padding: 7px;
    background: linear-gradient(135deg, #b8aba1, #ada097, #b8aba1);
    border-radius: 10px;
    text-align: center;
    width: 160px;
    height: 300px;
    font-family: 'Arial', sans-serif;
    font-weight: 150;
    
}

.h2Item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    font-weight: 150;
    font-family: 'Arial', sans-serif;
  }
  
  
.item img {
    width: 150px;
    height: 200px;
    margin-bottom: -20px; 
}

.item p {
    margin-top: -15px; 
}

.navigation{
    opacity: 1;
    
}


.sort-menu {
    list-style: none;
    padding: 0;
}

.sort-menu li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sort-menu li:hover {
    text-decoration: underline;
}





  