.notice{
    width: 68%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 12px;
}
.notice2{
    margin-top: 5px;
}


.navigation{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.raitingSort{
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.dataSort{
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.ABCSort{
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.downSort{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;

}
.upSort{
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ABCSort:hover{
    background-color: #976832;
}
.dataSort:hover{
    background-color: #976832;
}
.raitingSort:hover{
    background-color: #976832;
}
.downSort:hover{
    background-color: #976832;
}
.upSort:hover{
    background-color: #976832;
}




.title{
    margin: 0;
}

.defaultSort{
    cursor: pointer;
    margin-right: 5px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.defaultSort:hover{
    transform: scale(1.1);
}

.infoSort{
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.infoSort:hover{
    transform: scale(1.1);
}