.settint-container{
    width: 400px;
}
.avatar_img{
    margin-left: 20px;
    border-radius: 5%;
}

.formsetting input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
select {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

