<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Испытание: галерея агентства кошачьих путешествий</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Галерея путешествий</h1>
    <p>
      Оправдание <q>У меня лапки</q> больше не работает.<br />
      Путешествуйте вместе с
      <a href="https://cats-travel.com">нашим агентством.</a> Мяу.
    </p>
    <div class="gallery">
      <img src="files/greece.jpg" width="140" height="200"><img />
      <img src="files/japan.jpg" width="150" height="170"><img />
      <img src="files/turkey.jpg" width="170" height="130"><img />
    </div>
  </body>
</html>
