*{
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  color: #da1f1f;
}

body{
  background-color: #d4d2d2;
  
}
.header-container {
  background-color: #747474;
}
h1{
  margin: 10px 10px;
  font-weight: 600;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')