.rating-component {
  margin-bottom: 10px;
  width: 480px;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2c953a;
  cursor: pointer;
}


.status-component {
  margin-top: 30px;
  margin-bottom: 10px;
  width:480px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.card {
  padding: 10px;
  border: 1px solid #170600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.selected.red{
  background-color: #95393c;
  color: #fff;
  border-color: #95393c;
}
.selected.yl{
  background-color: #a3aa41;
  color: #fff;
  border-color: #a3aa41;
}
.selected.green{
  background-color: #399542;
  color: #fff;
  border-color: #399542;
}
.selected.blue{
  background-color: #396a95;
  color: #fff;
  border-color: #396a95;
}



/* коммент */
.review-component {
  margin-left: 15px;
  
}

.review-textarea {
  background-color: #d3d3d3;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  resize: vertical; /* Разрешить вертикальное изменение размера */
  
}

.submit-button {
  background: none;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #170600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.submit-button:hover {
  background-color: #399542;
  color: #fff;
  border-color: #399542;
}

.isDel{
  cursor: pointer;
  color: #95393c;
  width: max-content;
}
.isDel:hover{
  text-decoration:underline;
}