.header {
  display: flex;
  justify-content: space-between; /* Распределяем элементы по ширине контейнера */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  font-size: 14pt;
}

.categories {
  display: flex; /* Отображаем дочерние элементы в строку */
}

.category {
  margin-right: 30px; /* Добавляем отступ между категориями */
  text-decoration: none;
  transition: opacity 0.2s;
}
.category:hover {
  opacity: 0.7;
}

.search-bar input{
  width: 300px;
  height: 30px;
  outline: none;
  border-radius: 4px;
}

.reg{
  margin-right: 20px; /* Добавляем отступ между категориями */
}

.registration-link a {
  text-decoration: none;
  transition: opacity 0.2s;
}

.registration-link a:hover {
  opacity: 0.7;
}